.techlogo{
    max-width: 50%;
}
.heroimg{
    max-height: 70%;
}
body {
    margin: 0;
  }
  header {
    position: sticky;
    top: 0;
    background:black;
  }
  
  main {
    min-height: 1000vh;
    line-height: 2;
  }
  .back {
    height: 90vh;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 30px;
  }
  
  #back .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  h1{
    margin: 0 0 10px 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
    color: rgb(5, 5, 5);
    letter-spacing:1px;
  }


/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #4b4b4b 0 8px 8px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  word-break: break-word;
  border: 0;
  text-align: center;
}


/* CSS */
.button-81 {
  margin-left: 10px;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: .5rem .8rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 1px 3px 5px 1px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

h2{
  font-size:25px;
}